@import './_func';
$height: 72px;
$lineHeight: 50px;
$staticLH: 1.44444;
$paddingH: #{($height - 14px) / 2 - ($staticLH * 14px - 14px) / 2 - 1px};
@media screen and (max-width: 500px) {
  :root {
    .m-form.sty1 {
      .form-control {
        display: block;
        > label {
          height: 32px;
          line-height: 32px;
          padding-top:12px;
        }
        > .rig-ipt {
          padding:0;
          >input{
            padding: 12px 0;
          }
          >label{
            padding: 12px 0;
          }
          .c-err-w .err{
            margin:0;
          }
        }
        .rig-ele{
          top:6px;
        }
      }
    }
  }
}
.m-form.sty1 {
  margin-top: pr(26);
  padding-left: $pageMargin;
  background: $white;
  font-size: 14px;

  .form-control {
    align-items: start;
    display: flex;
    margin: 0;
    padding-right: pr(32);
    font-size: pr(30);
    overflow: hidden;

    & + .form-control {
      border-top: 1px solid #e6e6e6;
    }
    &.form-static {
      & > .rig-ipt {
        height: auto;
        //line-height: $lineHeight;
        //padding: $paddingH 0;
      }
    }
    &.form-comb {
      & > .rig-ipt {
        position: relative;
      }
    }
    &.form-txta {
      padding-left: 0;
      display: block;
      padding-bottom: pr(32);
      
      & > .rig-ipt {
        height: auto;
        line-height: $staticLH;
        padding: 0;
      }
    }

    & > .u-sub {
      margin: 0;
    }

    & > label {
      flex: 0 0 auto;
      width: pr(200);
      padding: 0;
      height: $height;
      text-align: left;
      line-height: $height;
    }
    & > .rig-ipt {
      //height: $height;
      outline: none;
      text-align: left;
      overflow: visible;
      box-sizing: border-box;

      padding-top: $paddingH;

      .c-err-w {
        display: block;
        .err {
          font-size: 13px;
          margin-left: 14px;
        }
      }
      & > label {
        //float: left;
        padding-top: 0;
        margin-right: pr(50);
        padding-left: 14px;
      }
      > input {
        width: 100%;
        //height: $height;
        line-height: $staticLH;
        padding-left: 12px;
        border: 0;
        font-size: pr(30);
        margin-right: 0;
        border-radius: 0;
        background: none;
      }
      textarea {
        line-height: 1.4444;
        font-size: 13px;
        display: block;
        width: pr(687);
        height: pr(150);
        background: #f3f4f8;
        border-radius: 0;
        width:100%;
        outline:none;
      }
    }

    .rig-ele {
      position: absolute;
      top: $paddingH;
      right: 0;
      width: 125px;
      height: 34px;
      line-height: $lineHeight;

      display: inline-block;
      border-radius: 3px;
      cursor: pointer;
      vertical-align: middle;
      font-size: 12px;
      margin-left: 10px;
    }
  }
  .button-wrap {
    margin-left: -$pageMargin;
    padding: pr(114) $pageMargin 0;
  }
  .btn-submit {
    //width: 146px;
    //height: $height + 4px;
    //line-height: $lineHeight + 4px;
  }
}
