@import "./form";
@import "./form_m_sty1";
@import "./form_m_sty2";

@import "./radio";
@import "./chkbox";
@import "./button";
@import "./block";
@import "./sendSmsCodeBtn";

.m-form {
  .c-err-w {
    display: inline-block;
    .err {
        display: none;
        margin-left: 3px;
        line-height: 25px;
        padding-left: 17px;
        color: #fc5e5e;
        background: url("../img/tips.jpg") no-repeat left center;
    }
}
}
